{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th scope="column">Symbol</th>
                <th scope="column">Shares</th>
                <th scope="column">Price</th>
                <th scope="column">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for row in transactions %}
                <tr>
                    <td>{{ row["symbol"] }}</td>
                    <td>{{ row["shares"] }}</td>
                    <td>{{ row["price"] }}</td>
                    <td>{{ row["date"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
